# optimaly we would ignore the songs as not to upload copyrighted content to the internet
#songs # remove '#' at the beginning of this line to stop synchronising the songs directory

harmonyhootenanny/__pycache__
